/* Global */
html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font: lighter;
}

/* section index */
.index {
    /* Structure */
    display: block;
    position: fixed;
    align-content: center;
    width: 100%;
    height: 40px;
    /* Design */
    background-color: white;
    border-bottom: 1px solid #222222;
    box-shadow: 5px 0px 5px #222222;
}

/* section index -> a ind */
.ind {
    /* Strecture */
    display: inline-block;
    padding: 10px 20px 10px 20px;
    /* Design */
    color: #222222;
    text-decoration: none;
    /* Animation */
    transition: .3s;
}













.ind:hover {
    background-color: skyblue;
    border-bottom: 2px solid #0175b9;
}

.ind:active {
    background-color: white;
    color: white;
    height: 20px;
    border-bottom: 0px;
}

/* section info */
.info {
    background-image: url(img/backProfile.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding-bottom: 20px;
    padding-top: 60px;
    text-shadow: 2px 2px 2px #222222;
}

/* section info -> img */
.imgP {
    border-radius: 100px;
}

/* section exp */
.exp {
    width: 100%;
    height: 280px;
    padding-top: 10px;
    color: #222222;
    font-size: 16px;
}


.container {
    display: flex;
    justify-content: space-around;
}

.divTitleExp {
    display: block;
    width: 20%;
    padding: 0px 100px;
    font-size: 18px;
}

#workExp {
    padding-top: 60px;
    padding-bottom: 50px;
    font-size: 35px;
    color: #222222;
}

.education {
    background-image: url(img/back.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 330px;
    background-color: white;
    margin-bottom: 20px;
    color: white;
    text-shadow: 5px 5px 5px #000000;
    font-size: 20px;
}

#education {
    padding-top: 65px;
    padding-bottom: 50px;
    font-size: 45px;
    color: white;
    text-shadow: 5px 5px 5px #222222;
}

.skill {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
    height: 770px;
}

#skills {
    font-size: 35px;
    color: #222222;
    padding-bottom: 50px;
}

.nameSkill {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    width: 30%;
    border: 1px solid #686868;
    border-radius: 5px;
    transition: .3s;
}

.imgSkill {
    width: 35px;
    height: 35px;
}

.title {
    width: 82%;
    margin-right: 30px;
}

.desc {
    font-size: 12px;
    margin-top: 5px;
    color: #555555;
}

.nameSkill:hover {
    color: rgb(0, 122, 179);
}

.listSkills {
    list-style-type: none;
}

.social {
    background-color: #555555;
    background-image: url(img/backSocial2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    margin-top: 0px;
}

#socialNetwork {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px #222222;
}

.btnSocialNet {
    display: flex;
    margin-right: 40%;
    margin-left: 40%;
    justify-content: space-around;
    align-content: center;
}

.btnSocial {
    color: black;
    margin: 10px 20px;
    width: 40px;
    height: 40px;
    transition: .5s;
}

.btnSocial:hover {
    transform: scale(1.5);
}